@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3> <!-- Llama a la variable ViewBag.Message del método About() de HomeController.cs -->

<p>Use this area to provide additional information.</p>
